.form__box {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input {
  margin-bottom: 10px;
  width: 50%;

  display: block;
  padding: 5px;

  border: 1px solid blueviolet;
  border-radius: 5px;

  outline: none;
}

.form__input:focus {
  box-shadow: 0 0 0 4px rgba(137, 43, 226, 0.2);
  border: 1px solid blueviolet;
}

.form__button {
  display: block;
  border: 1px solid blueviolet;
  padding: 2px 8px;
  border-radius: 5px;

  background-color: #ffffff;
  /* color: blueviolet; */

  font-weight: 600;
}
